---
Language: Cpp
BasedOnStyle: Google

ColumnLimit: 100
AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: true
  AfterStruct: false
  BeforeCatch: false
  BeforeElse: false
  BeforeWhile: false
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Middle
ReflowComments: false
IncludeBlocks: Preserve
InsertBraces: true
...
